@import url(https://fonts.googleapis.com/css?family=Lora);
* { margin:0; padding:0; box-sizing:border-box; }
body {
	color:;
	font-size:;
	font-family:;
	line-height:1.2;

}

div {
	/* background-color: #ff6; */
	/* border: 1px black solid; */
	padding: 20px;
}

footer {
	/*background-color: #ffe2b8; */
	border: 1px black solid;
	padding: 20px;
}

header {
	/*background-color: #ffed74;*/
	border: 1px black solid;
	padding: 20px; 
}

nav {
	/*background-color: #e8c66a;*/
	border: 1px black solid;
	padding: 20px;
}
a:link {
	color:black;
}
a:hover {
	color:gold;
}
h1 {
	font-family:Helvetica,Arial,Sans-serif;
	font-size: 8em;
	text-align:center;
}

#work {
    /*background-color: #FFB7CF; */
    border: 1px black solid;
    padding: 20px;
    /* width: 1200px; */
    /* margin: auto; */
}

#left {
    background-color: #E582A2;
    border: 1px black solid;
    padding: 20px;
    float:left;
    width:62%;
}

#right {
    background-color: #E55B88;
    border: 1px black solid;
    padding: 20px;
    float:right;
    width:30%;
}

.clearfix:after {
    visibility: hidden;
    display: block;
    font-size: 0;
    content: " ";
    clear: both;
    height: 0;
}
