@import url(https://fonts.googleapis.com/css?family=Lora);
* { margin:0; padding:0; box-sizing:border-box; }
body {
	color: #222;
	font-size:1em;
	font-family:Helvetica,Arial,Sans-serif;
	line-height:1.2;
	text-align:center;
}

div {
	/* background-color: #ff6; */
	/* border: 1px black solid; */
	padding: 20px;
}

footer {
	background-color: #f0a9f6;
	/*border: 1px black solid; */
	margin-top: 20%;
	margin-bottom: 10%;
	padding: 5em;
}

header {
	/*background-color: #ffed74;*/
	/*border: 1px black solid;*/
	padding: 20px; 
}

nav {
	background-color: #adf7e7;
	/*border: 1px black solid;*/
	padding: 20px;
}
a:link {
}

a:hover {
	color:#f0a9f6;
}

a:visited {
	color: #000;
}

h1 {
	font-size: 3em;
	text-align:center;
}

h3 {
	font-family:Garamond-italic,serif;
	font-size:1em;
	margin:20px;
	padding:20px;
	/* background: #fff; */
}

h4 {

}

p.intro {
	margin:50px 0 50px 0;
}

.navbar {
	color:#550355;
	padding: 8px;
	text-align: center;
	text-decoration:none;
	display: inline-block;
}

.navbar a:link {
	color:#660066;
}

.navbar:hover {
	color:#fff;
}

.navbar:visited {
	color:#dc7edc;
}

.work{
	background-color: rgb(184, 0, 0);
	/* margin:20px; */
	/* padding:20px; */
	float:left;
	width: 31.33%;
	margin: 1%;
	line-height: 0;
}
.work img {
	width:100%;
	opacity:.5;
}

#work {
    /*background-color: #FFB7CF; */
    /*border: 1px black solid;*/
    padding: 20px;
    width: 1200px;
    margin: auto;
}

#about{

}

#case-study{

}

#contact{
	
}

#left {
    /*background-color: #E582A2; */
    border: 1px black solid;
    padding: 20px;
    float:left;
    width:62%;
}

#right {
    /*background-color: #E55B88; */
    border: 1px black solid;
    padding: 20px;
    float:right;
    width:30%;
}

.clearfix:after {
    visibility: hidden;
    display: block;
    font-size: 0;
    content: " ";
    clear: both;
    height: 0;
}

.box-left{
	background-color:rgba(0, 0, 0, 0.1);
	float:left;
	height:50%;
	padding:20px;
	width:48%;
}

/*.box-right{
	background-color:rgba(0, 0, 0, 0.1);
	float:right;
	height:50%;
	padding:20px;
	width:48%;
}*/

.case-study {
	background-image: url("images/laptop-for-designers.jpg");
	background-size:cover;
	background-repeat: no-repeat;
	background-color:#000;
	color:#fff;
	float:left;
	margin:1%;
	width:48%;
}
.case-study div {
    background: rgba(0, 0, 0, 0.5);
    padding: 3em;
}
.about {
	background-color:#ffed74;
	float:left;
	margin:1%;
	padding:60px;
	width:48%;
}


