@import url(https://fonts.googleapis.com/css?family=Lora);
* { margin:0; padding:0; box-sizing:border-box; }
body {
	color: #222;
	font-size:1em;
	font-family:Helvetica,Arial,Sans-serif;
	line-height:1.2;
	text-align:center;
}

div {
	/* background-color: #ff6; */
	/* border: 1px black solid; */
	padding: 1.25em;
}

footer {
	color:#fff;
	background-color: #f0a9f6;
	/*border: 1px black solid; */
	margin-top: 40%;
	margin-bottom: 5%;
	padding: 5em;
	width:100%;
}

footer a {
color:#fff;
}

footer a:hover {
color:#adf7e7;
}

header {
	background-color: #adf7e7;
	/*border: 1px black solid;*/
	padding: 1.25em; 
	width:100%;
}

nav {
	background-color: #adf7e7;
	/*border: 1px black solid;*/
	padding: 1.25em;
}



h1 {
	font-size: 3em;
	text-align:center;
}

h2 {
	color:#222;
}

h3 {
	color:#fff;
	font-family:Garamond, Baskerville, serif;
	font-size:1.5em;
	font-style:italic;
	margin:1.25em;
	padding:1.25em;
	/* background: #fff; */
}

h4 { 
	color:#222;
	font-family: Garamond, Baskerville, serif;
	font-style:italic;
	font-size:1.2em;
	margin:0.3125em;
	padding:0.3125em;
}

a {
	color:#fff;
	text-decoration: none;
}

p.intro {
	margin:3.125em 0 3.125em 0;
}

.navbar {
	color:#550355;
	padding: 0.5em;
	text-align: center;
	text-decoration:none;
	display: inline-block;
}

.navbar a:link {
	color:#660066;
}

.navbar:hover {
	color:#fff;
}

.navbar:visited {
	color:#dc7edc;
}

.work{
	background-color: rgb(248, 154, 248);
	/* margin:20px; */
	/* padding:20px; */
	display:inline-block;
	width: 27.3%;
	margin: 3%;
	line-height: 0;
}

@media only screen and (min-width: 768px) {
    .work {
    	float:left;
        width: 44%;
		margin: 3%;
    }
}

.work img {
	width:100%;
	opacity:.5;
}


#work {
    /*background-color: #FFB7CF; */
    /*border: 1px black solid;*/
    padding: 1.25em;
    width: 75em;
    margin: auto;
}

#about {
	color:#fff;
	background-color:#adf7e7;
	background-image: url("images/laptop-for-designers.jpg");
	margin:1%;
	margin-bottom:5%;
	overflow: hidden;
	padding:0.016em;
	width:48%;
}

@media only screen and (min-width: 768px) {
	#about {
		background-size: cover;
		background-repeat: no-repeat;
		width:100%;
	}
}


#case-study {
	background-image: url("images/laptop-for-designers.jpg");
	background-color:#adf7e7;
	color:#fff;
	float:left;
	margin:1%;
	margin-bottom:5%;
	overflow: hidden;
	padding:3.75em;
	width:48%;
}

@media only screen and (min-width: 768px) {
	#case-study {
		background-size: cover;
		background-repeat: no-repeat;
		width:100%;
	}
}

#contact{

}

#left {
    /*background-color: #E582A2; */
    border: 1px black solid;
    padding: 20px;
    float:left;
    width:62%;
}

#right {
    /*background-color: #E55B88; */
    border: 1px black solid;
    padding: 20px;
    float:right;
    width:30%;
}

.clearfix:after {
    visibility: hidden;
    display: block;
    font-size: 0;
    content: " ";
    clear: both;
    height: 0;
}

.box-left{
	background-color:rgba(0, 0, 0, 0.1);
	float:left;
	height:50%;
	padding:1.25em;
	width:48%;
}

/*.box-right{
	background-color:rgba(0, 0, 0, 0.1);
	float:right;
	height:50%;
	padding:20px;
	width:48%;
}*/


.case-study div {
    background-color: rgba(0, 0, 0, 1);
    padding: 3em;
}



