@import url(https://fonts.googleapis.com/css?family=Lora);
* { margin:0; padding:0; box-sizing:border-box; }
body {
	color: #222;
	font-size:1em;
	font-family:Helvetica,Arial,Sans-serif;
	line-height:1.2;
	text-align:center;
}

div {
	/* background-color: #ff6; */
	/* border: 1px black solid; */
	padding: 1.25em;
}

footer {
	color:#fff;
	background-color: #f0a9f6;
	/*border: 1px black solid; */
	margin-top: 40%;
	margin-bottom: 5%;
	padding: 5em;
}

footer a {
color:#fff;
}

footer a:hover {
color:#adf7e7;
}

header {
	background-color: #adf7e7;
	/*border: 1px black solid;*/
	padding: 1.25em; 
}

nav {
	background-color: #adf7e7;
	/*border: 1px black solid;*/
	padding: 1.25em;
}



h1 {
	font-size: 3em;
	text-align:center;
}

h2 {
	font-size:2em;
	text-align:center;
} 

h3 {
	color:#fff;
	font-family:Garamond, Baskerville, serif;
	font-size:1.5em;
	font-style:italic;
	margin:1.25em;
	padding:1.25em;
	/* background: #fff; */
}

h4 { 
	color:#222;
	font-family: Garamond, Baskerville, serif;
	font-style:italic;
	font-size:1.2em;
	margin:0.3125em;
	padding:0.3125em;
}

a {
	color:#fff;
	text-decoration: none;
}

p.intro {
	margin:3.125em 0 3.125em 0;
}

#splash p {
	width: 30em;
	margin: auto;
	text-align:left;
}

.navbar {
	color:#550355;
	padding: 2em;
	text-align: center;
	text-decoration:none;
	display: inline-block;
}

.navbar a:link {
	color:#660066;
}

.navbar:hover {
	color:#fff;
}

.navbar:visited {
	color:#dc7edc;
}

#work {
    /*background-color: #FFB7CF; */
    /*border: 1px black solid;*/
    padding: 1.25em;
    width: 75em;
    margin: auto;
}

.work{
	background-color: rgb(248, 154, 248);
	/* margin:20px; */
	/* padding:20px; */
	display:inline-block;
	float:left;
	width: 27.3%;
	margin: 3%;
	line-height: 0;
}
.work img {
	width:100%;
	opacity:.5;
}


#about {
	color:#fff;
	background-image: url("images/laptop-for-designers.jpg");
	float:left;
	margin:1%;
	margin-bottom:5%;
	padding:3.75em;
	width:48%;
}

#case-study {
	background-image: url("images/laptop-for-designers.jpg");
	color:#fff;
	float:left;
	margin:1%;
	margin-bottom:5%;
	padding:3.75em;
	width:48%;
}

#contact{

}

#left {
    /*background-color: #E582A2; */
    border: 1px black solid;
    padding: 1.25em;
    float:left;
    width:62%;
}

#right {
    /*background-color: #E55B88; */
    border: 1px black solid;
    padding: 1.25em;
    float:right;
    width:30%;
}

.clearfix:after {
    visibility: hidden;
    display: block;
    font-size: 0;
    content: " ";
    clear: both;
    height: 0;
}

.box-left{
	background-color:rgba(0, 0, 0, 0.1);
	float:left;
	height:50%;
	padding:1.25em;
	width:48%;
}

/*.box-right{
	background-color:rgba(0, 0, 0, 0.1);
	float:right;
	height:50%;
	padding:20px;
	width:48%;
}*/


.case-study div {
    background: rgba(0, 0, 0, 0.9);
    padding: 3em;
}

@media screen and (max-width: 1105px) {
	.work{
		display:inline-block;
		float:left;
		width: 30%;
		margin: 2% 5% 2% 5%;
		line-height: 0;
	}

	.work img {
	width:60%;

}


@media screen and (max-width: 889px) {
	#about {
		background-repeat: no-repeat;
		margin-left: 10%;
		margin-bottom: 10%;
		width:98%;
	}

	#case-study {
		background-repeat: no-repeat;
		margin-left: 10%;
		margin-bottom: 10%;
		width:98%;
	}

	.case-study div {
	    background: rgba(0, 0, 0, 0.9);
	    padding: 3em;
	    width:60%;
	}

	footer {
		clear: left;
		position: relative;
	}

}

@media screen and (max-width: 714px) {
		.work{
		display:inline-block;
		float:left;
		width: 40%;
		margin: 0 20% 0 20%;
		line-height: 0;
		}

		.work img {
		width: 35%;
		}

		.navbar {
		padding: 2em;
		text-align: center;
		display: inline-block;
		}
}



