body {
background-image:url("/unit_3/images/hero.jpg");
background-size: cover;
font-family: Garamond, Baskerville, 'Baskerville Old Face', 'Hoefler Text', 'Times New Roman', serif;
}
h1 {
    color: white;
    font-family:Helvetica,Arial,Sans-serif;
    font-size: 800%;
    text-align:center;
}

p {color:white;
font-size: 24px;
text-align:center;

}
